<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="" name="YCT-XSRF-TOKEN" th:content="${_csrf.token}" />
<meta content="" name="YCT-XSRF-HEADER" th:content="${_csrf.headerName}" />
<title>Insert title here</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
	<input id="userId" th:value="${userId}" type="hidden">
	<input id="totalPrice" th:value="${totalPrice}" type="hidden">
	<input id="productCount" th:value="${productCount}" type="hidden">
	<input id="productName" th:value="${productName}" type="hidden">
	<input id="senderName" th:value="${senderName}" type="hidden">
	<input id="receiverName" th:value="${receiverName}" type="hidden">
	<input id="phone" th:value="${phone}" type="hidden">
	<input id="postCode" th:value="${postCode}" type="hidden">
	<input id="roadAddr" th:value="${roadAddr}" type="hidden">
	<input id="jibunAddr" th:value="${jibunAddr}" type="hidden">
	<input id="extraAddr" th:value="${extraAddr}" type="hidden">
	<input id="detailAddr" th:value="${detailAddr}" type="hidden">
	<!-- <input id="products" th:value="${products}" name="products[]" type="hidden"> -->
	<input id="cart" th:value="${cart}" type="hidden" readonly>
	<input th:each="cartElement : ${cart}" th:value="${cartElement}"
		name="cartElements" type="hidden" />
	<!-- <input id="sale" th:value="${product.productSale}" type="hidden"> -->


	<script>
		$(function() {
			var IMP = window.IMP; // 생략가능
			IMP.init('imp40289492'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
			var msg;

			var userId = document.getElementById('userId').value;
			var price = document.getElementById('totalPrice').value;
			var productName = document.getElementById('productName').value;
			var productCount = document.getElementById('productCount').value;
			var nameElement = '';
			var senderName = document.getElementById('senderName').value;
			var receiverName = document.getElementById('receiverName').value;
			var phone = document.getElementById('phone').value;
			var postCode = document.getElementById('postCode').value;
			var roadAddr = document.getElementById('roadAddr').value;
			var jibunAddr = document.getElementById('jibunAddr').value;
			var extraAddr = document.getElementById('extraAddr').value;
			var detailAddr = document.getElementById('detailAddr').value;

			let XSRF_TOKEN = $("meta[name='YCT-XSRF-TOKEN']").attr("content");
			let XSRF_HEADER = $("meta[name='YCT-XSRF-HEADER']").attr("content");

			if (productCount <= 0) {
				alert('잘못된 접근이거나 장바구니에 물품이 없습니다!!!');
				window.location = "http://yos.yoggaebi.com/main";
			}

			if (productCount == 1) {
				nameElement += productName;
			} else {
				nameElement += productName + " 외 " + (productCount-1) + "개";
			}

			var cart = JSON.parse(document.getElementById('cart').value);
			var cartArray = new Array();
			for ( var i in cart) {
				cartArray.push(cart[i]);
			}

			var a = {
				"senderName" : String(senderName),
				"receiverName" : String(receiverName),
				"phone" : String(phone),
				"postCode" : String(postCode),
				"roadAddr" : String(roadAddr),
				"jibunAddr" : String(jibunAddr),
				"extraAddr" : String(extraAddr),
				"detailAddr" : String(detailAddr),
				"cart" : cart
			};
			
			var dtoForOrder = JSON.stringify(a);

			IMP.request_pay({
				pg : 'kakaopay',
				pay_method : 'card',
				merchant_uid : 'merchant_' + new Date().getTime(),
				name : nameElement,
				amount : price,
				buyer_email : 'enekelx1@naver.com',
				buyer_name : senderName,
				buyer_tel : phone,
				buyer_addr : roadAddr,
				buyer_postcode : postCode,
			//m_redirect_url : 'http://www.naver.com'
			}, function(rsp) {
				if (rsp.success) {
					//[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
					jQuery.ajax({
						url : "/payments/complete", //cross-domain error가 발생하지 않도록 주의해주세요
						type : 'POST',
						dataType : 'json',
						beforeSend : function(xhr) {
							xhr.setRequestHeader(XSRF_HEADER, XSRF_TOKEN);
						},
						data : {
							imp_uid : rsp.imp_uid
						//기타 필요한 데이터가 있으면 추가 전달
						}
					}).done(function(data) {
						//[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
						if (everythings_fine) {
							msg = '결제가 완료되었습니다.';
							msg += '\n고유ID : ' + rsp.imp_uid;
							msg += '\n상점 거래ID : ' + rsp.merchant_uid;
							msg += '\결제 금액 : ' + rsp.paid_amount;
							msg += '카드 승인번호 : ' + rsp.apply_num;

							alert(msg);
						} else {
							//[3] 아직 제대로 결제가 되지 않았습니다.
							//[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
							alert("결제 실패");
							location.href = "http://yos.yoggaebi.com/main";
						}
					});

					jQuery.ajax({
						url : "http://yos.yoggaebi.com/processPay",
						type : "POST",
						dataType : 'json',
						contentType : 'application/json; charset=UTF-8',
						async : false,
						beforeSend : function(xhr) {
							xhr.setRequestHeader(XSRF_HEADER, XSRF_TOKEN);
						},
						//data : JSON.stringify(cartArray),
						data : dtoForOrder,
						done : function(data) {
							alert(data);
							console.log(data);
							location.href = "http://yos.yoggaebi.com/main";
						},
						fail : function(error) {
							alert(error);
						}
					})

					//성공시 이동할 페이지
					//location.href = "http://localhost:8001/main";
					location.href = 'http://yos.yoggaebi.com/successPay';
				} else {
					msg = '결제에 실패하였습니다.';
					msg += '에러내용 : ' + rsp.error_msg;
					//실패시 이동할 페이지
					location.href = "http://yos.yoggaebi.com/main";
					alert(msg);
				}
			});

		});
	</script>

</body>
</html>
